option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node server.js"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    MYSQL_HOST: expensetrackerbackend.cxy4ogqqgubd.eu-north-1.rds.amazonaws.com
    MYSQL_PORT: 3306
    MYSQL_USER: admin
    MYSQL_PASSWORD: Sreekar8297
    MYSQL_DATABASE: ExpenseTrackerBackend
